<a class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" {{bind-attr rel=elementId}}>{{header}}</a>
<div {{bind-attr class=":js-vertical-tab-content :vertical-tab-content elementId"}}>
  {{yield}}
</div>
