<div class="dropdown">
  <div class="dropdown-container">
    <p class="dropdown-description">{{description}}</p>
    <p class="dropdown-button">{{prompt}}</p>
    <ul class="dropdown-menu dropdown-select">
      {{yield}}
    </ul>
  </div>
</div>
