<button type="button" class="js-menu-trigger sliding-menu-button">
  <img src="images/menu-white.png" alt="Menu Icon">
</button>

<nav class="js-menu sliding-menu-content">
  {{yield}}
</nav>

<div class="js-menu-screen menu-screen"></div>
